{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

<body>
    <header>
        <nav>
            <h1 class="title">Inicio</h1>
            <div class="logo"><img src="{% static 'imagens/bg-adolfo.webp' %}" alt="AFS" srcset=""></div>
        </nav>
    </header>

  <h1>Sejam Bem-Vindos</h1>
  <section class="container">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'lista' %}">
              <button type="button" class="btn btn-primary btn-lg">Lista</button>
          </a>
      </div>
      <div class="container-fluid">
          <a class="navbar-brand" href="admin/">
              <button type="button" class="btn btn-primary btn-lg">Admin</button>
          </a>
      </div>
  </section>

  <footer>
      <div class="container1">
          <div class="column">
              <h3>Escola</h3>
              <p>EEEP Adolfo Ferreira de Sousa</p>
          </div>
      </div>
  </footer>
</body>

</html>
